.discografia{
	padding-bottom: 1rem;

	li{
		margin-bottom: .1rem;
	}

	.album{
		padding-bottom: 2rem;

		h2{
			font-weight: bold;
			text-align: center;
			margin: 1rem 1rem 1rem 0;
		}

		li{
			overflow: visible;
		}
	}

	.portada{
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: 1rem;
		border: groove .25rem #FFBC10;
	}
}