footer{
	background-color: $background-color_2;
	color: $color_3;
	font-size: .8rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	.copyright{
		line-height: 2rem;
		

		p{
			margin: 0 1rem;
			text-align: center;
		}
	}

	.redes{

		ul{
			margin: 0;
			padding: 0;

			li{
				list-style: none;
				display: inline-block;
				padding: 1rem;

				.icono{

					&:hover{
						fill: white;
					}
				}
			}
		}
	}
}