.barra{
	background: linear-gradient(180deg, rgba(255,104,34,1) 0%, rgba(255,188,16,1) 100%);

	.barra-logo{
		padding: 1rem;

		&:hover{
			opacity: 50%;
		}
	}

	.barra-elemento{
		margin: .5rem;
		border-bottom: hidden .25rem $color_3;

		&:hover{
			margin-bottom: 0;
			border-bottom: solid;
		}

		.barra-vinculo{
			color: $color_3;
			font-size: 1.2rem;
			font-weight: bold;
			letter-spacing: .2rem;
		}
	}
}