@media screen and (min-width: 992px){

    .barra-colapsada{
		justify-content: flex-end;
	}

	.discografia{

		.album{

			h2{
				text-align: start;
			}
		}
	}

	.recital{
		grid-template-rows: 1fr;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: "fecha ciudad comprar";

		.fecha{
			text-align: end;
		}

		.ciudad{
			text-align: auto;
		}

		.comprar{
			text-align: start;
		}
	}

	.contacto{

        div{
			width: 50vw;
		}
	}

	footer{
		justify-content: space-between;
	}
}