$font-family_1: 'Roboto', sans-serif;
$color_1: #CCCCCC;
$color_2: #FFBC10;
$color_3: #111111;
$background-color_1: #111111;
$background-color_2: #CCCCCC;
$background-color_3: #FFBC10;
$outline-color_1: #FFBC10;